/* App.css */

.App {
  display: flex;
  /* Add other styles as needed for your entire page */
}

.main-container {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add styles for your parent component */
